* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.d-flex {
	display: flex;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	padding: 12px 25px;
	background: #000;
	color: #fff;
	font-weight: 700;
	line-height: 25px;
	font-size: 18px;
	border-radius: 100px;
}

.a-col {
	color: #335C81;
}

.a-col:hover {
	text-decoration: underline;
}

/* header */

.header {
	margin: 45px 0;
	height: 52px;
}

.header-wrap {
	grid-column-gap: 140px;
}

.nav {
	grid-column-gap: 18px;
}

.nav-list {
	grid-column-gap: 22px;
	align-items: center;
}

.nav-list-item {
	font-size: 16px;
	line-height: 16.2px;
	color: #000;
}

.nav-list-item:hover {
	text-decoration: underline;
}

.nav-buttons {
	grid-column-gap: 18px;
}

.login {
	border: 1px solid #000;
	background: #fff;
	color: #000;
}

/* hero */

.hero-wrap {
	justify-content: space-between;
}

.hero-heading {
	margin: 0;
	padding: 44px 0 27px;
	font-weight: 700;
	font-size: 77px;
	line-height: 82px;
}

.hero-text {
	font-size: 20px;
	line-height: 31px;
	color: #000;
}

.hero-description {
	margin-top: 79px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	margin-bottom: 50px;
}

.hero-img {
	width: 667px;
}

/* about */

.about-wrap {
	margin-top: 75px;
	justify-content: space-between;
}

.about-img {
	padding: 83px 100px 143px 0;
}

.about-heading {
	padding: 51px 0 36px 0;
	font-weight: bold;
	font-size: 57px;
	line-height: 58px;
	color: #000;
}

.about-text {
	margin-bottom: 121px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 31px;
}

/* benefits */

.benefits {
	margin-bottom: 120px;
}

.benefits-heading {
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	line-height: 58px;
	padding: 33px 0 19px 0;
}

.benefits-wrap {
	justify-content: space-between;
	/* padding: 0 120px 0 0; */
}

.benefits-item {
	width: 308px;
}

.benefits-item-heading {
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
}

.benefits-item-img {
	padding-top: 63px;
}

.benefits-item-text {
	padding-top: 67px;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	padding: 24px 0 70px 0;
}

.benefits-btn {
	background-color: #F7B2B7;
	color: #000;
}

/* plans */

.plans {
	background: #FDECED;
}

.plans-heading {
	font-weight: normal;
	font-size: 58px;
	line-height: 58px;
	padding: 88px 0 19px;
}

.plans-wrap {
	justify-content: space-between;
	/* padding: 0 120px 0 0; */
	padding: 0 0 72px 0;
}

.plans-item {
	width: 308px;
}

.plans-item-heading {
	padding: 24px 0 10px 0;
	padding-top: 30px;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
}

.plans-item-text {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

/* partners */

.parthers-heading {
	font-weight: normal;
	font-size: 27px;
	line-height: 36px;
	width: 236px;
	padding: 92px 0 285px 0;
}

.partners-wrap {
	justify-content: space-between;
}

.partners-row {
	flex-direction: row;
	grid-column-gap: 36px;
}

.patrners-img-wrap {
	padding: 72px 99px 18px 0;
	flex-direction: column;
	grid-gap: 36px;
}

/* hub */

.hub-heading {
	font-weight: bold;
	font-size: 58px;
	line-height: 58px;
	padding: 190px 0 40px 0;
}

.hub-text {
	font-weight: normal;
	font-size: 20px;
	line-height: 31px;
	padding-bottom: 95px;
}

.hub-btn {
	color: #000;
	background: #F7B2B7;
}

.hub-img {
	padding: 107px 0 78px 120px;
}

/* lets-go */

.lets-go {
	padding-bottom: 108px;
}

.lets-go-wrap {
	padding: 108px 90px;
	background: #8BD4D6;
	border-radius: 10px;
	justify-content: space-between;
}

.lets-go-content {
	width: 710px;
	align-items: center;
}

.lets-go-heading {
	font-weight: bold;
	font-size: 46px;
	line-height: 56px;
	padding-bottom: 18px;
}

.lets-go-text {
	font-weight: normal;
	font-size: 20px;
	line-height: 31px;
}

.lets-go-btns {
	padding-top: 42px;
}

/* footer  */

.footer {
	background-color: #302E3F;
	color: #fff;
}

a {
	color: #C5E9EA;
}

.footer-top-text {
	font-size: 28px;
	line-height: 36px;
	padding-left: 18px;
	justify-content: center;
}

.footer-logo-link {
	padding: 45px 0;
}

.footer-main-item-heading, .footer-hero-item-heading {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

.footer-link-item {
	font-size: 16px;
	line-height: 16px;
}

.footer-main-item-heading, .footer-hero-item-heading {
	padding-bottom: 12px;
}

.footer-main-item {
	width: 204px;
}

.footer-link-item, .footer-link-item {
	padding-bottom: 8px;
}

.footer-list-link:hover {
	color: #335C81;
}

.footer-hero {
	padding-top: 36px;
}

.footer-main {
	justify-content: space-between;
}

.footer-buttom-list {
	grid-gap: 27px;
}

.footer-bottom-wrap {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
}

/* Responsive starts here */

@media screen and (max-width: 1200px) {
	.container {
		max-width: none;
		/* background-color: yellow; */
	}
	.header {
		margin: 10px 0;
	}
	.header-wrap {
		flex-direction: column;
		justify-content: space-between;
	}
	.nav-list {
		padding: 15px 0;
	}
	.logo-img {
		display: block;
		margin: 0 auto;
	}
	.nav {
		flex-direction: column;
		margin: 0 auto;
	}
	.nav-buttons {
		margin: 0 auto;
	}
	.hero-wrap {
		margin-top: 50px;
	}
	.hero-img {
		margin: 100px 20px;
		height: 430px;
		object-fit: contain;
	}
	.about-img {
		height: 410px;
		object-fit: contain;
		padding: 80px 20px 50px 0;
	}
	.lets-go-wrap {
		flex-direction: column;
	}
	.about-wrap {
		margin-top: 35px;
	}
	.about-text {
		margin-bottom: 40px;
	}
	.patrners-img-wrap {
		padding: 0;
	}
	.patrners-img {
		padding: 0;
	}
	.hub-img {
		padding: 50px 0 38px 50px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: none;
	}
	.hero-img {
		height: 400px;
		object-fit: contain;
		margin: 100px 20px;
	}
	.about-img {
		height: 350px;
	}
	.about-img, .hero-img, .hub-img {
		margin: auto;
		padding: 0;
	}
	.about-wrap {
		flex-direction: column-reverse;
	}
	.about-heading, .about-text {
		text-align: center;
	}
	.hero-wrap {
		flex-direction: column;
	}
	.hero-heading {
		font-size: 40px;
		padding: 35px 0 0 0;
	}
	.hero-heading, .hero-text {
		text-align: center;
	}
	.hero-description {
		margin: 25px 0 30px;
		text-align: center;
	}
	.hero-btn {
		position: absolute;
		left: 41.5%;
		right: 41.8%;
	}
	.plans-wrap {
		grid-gap: 20px;
		flex-direction: column;
		margin: 0 auto;
		justify-content: center;
	}
	.plans-item-img {
		display: block;
		margin: 0 auto;
	}
	.plans-heading {
		padding-top: 0;
	}
	.plans-item {
		margin: 0 auto;
		width: 500px;
	}
	.plans-item-heading {
		font-size: 35px;
	}
	.plans-item-heading, .plans-item-text, .plans-heading {
		text-align: center;
	}
	.parthers-heading {
		width: 100%;
		font-weight: 700;
		text-align: center;
		padding: 20px 0;
		line-height: 36px;
	}
	.partners-wrap {
		flex-direction: column;
		justify-content: center;
	}
	.patrners-img-wrap {
		align-items: center;
	}
	.partners-img {
		grid-column-gap: 12px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.hub-wrap {
		flex-direction: column;
	}
	.hub-img {
		padding-top: 70px;
		padding-bottom: 20px;
	}
	.hub-heading, .hub-text {
		text-align: center;
	}
	.hub-text {
		padding: 0;
	}
	.hub-heading {
		padding: 30px 0 0px;
	}
	.hub-btn {
		position: absolute;
		left: 44%;
		right: 39%;
	}
	.lets-go-content {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: none;
	}
	.hero-img {
		height: 320px;
		object-fit: contain;
		margin: 20px 0;
		width: 100%;
	}
	.hero-btn {
		position: absolute;
		left: 39.5%;
		right: 37.8%;
	}
	.about-img {
		height: 300px;
	}
	.benefits-heading, .benefits-item-heading, .benefits-item-text {
		text-align: center;
	}
	.benefits-item-img {
		padding: 0;
		display: block;
		margin: 0 auto;
	}
	.benefits-item-text {
		width: 100%;
		padding: 20px 0 30px;
	}
	.benefits-wrap {
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
	.plans-heading {
		font-size: 30px;
	}
	.benefits-btn {
		position: absolute;
		left: 32%;
		right: 30%;
	}
	.partners-img {
		height: 70px;
	}
	.partners-row {
		grid-column-gap: 0px;
	}
	.hub-btn {
		position: absolute;
		left: 39%;
		right: 39%;
	}
	.footer-logo {
		margin: 0 auto;
	}
	.footer-main, .footer-buttom-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.footer-bottom-img {
		display: block;
	}
	.footer-bottom-wrap {
		justify-content: space-between;
		/* чому воно не приймається? */
	}
	.footer-link-item, .footer-main-item-heading, .footer-hero-item-heading {
		text-align: center;
	}
}

@media screen and (max-width: 575px) {
	.container {
		max-width: none;
	}
	.nav-list {
		flex-direction: column;
		grid-gap: 10px;
		margin-bottom: 10px;
	}
	.hero-wrap {
		padding-top: 100px;
	}
	.hero-heading {
		font-size: 33px;
		padding: 45px 0 0 0;
	}
	.hero-img{
		padding: 0;
		margin-top: 60px;
	}
	.hero-btn {
		position: absolute;
		left: 32.5%;
		right: 32.8%;
	}
	.about-heading {
		font-size: 45px;
		padding: 0 0 15px;
	}
	.about-img {
		height: 169px;
	}
	.benefits-btn {
		position: absolute;
		left: 21%;
		right: 21%;
	}
	.plans-item {
		width: 100%;
	}
	.partners-img {
		width: 100%;
		height: 100%;
	}
	.hub-btn {
		margin: 20px 0;
		position: absolute;
		left: 33%;
		right: 33%;
	}
	.hub-img {
		height: 350px;
		padding-top: 100px;
		margin-bottom: 35px;
	}
	.lets-go-wrap {
		padding: 60px 20px;
		background: #8BD4D6;
		border-radius: 10px;
		justify-content: space-between;
	}
	.lets-go-heading {
		font-weight: bold;
		font-size: 35px;
		line-height: 40px;
		padding-bottom: 18px;
  }
  .lets-go-wrap{
	  margin-bottom: 20px;
  }
  .lets-go{
	  padding-bottom: 25px;
  }
}